# Ignore node_modules
node_modules/

# Ignore build files
dist/
build/

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore environment config (if any)
.env

# Ignore Mac system files
.DS_Store

# Ignore PHP cache files
*.log
*.cache
*.tmp

# Ignore XAMPP/Apache/PHP workspace config files
htdocs/.vscode/
*.sqlite
